body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
     flex: 1 0 auto;
}

body>nav {
	background: #eee;
	padding: 5px;
}

body>nav>a>img, body>nav a {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 5px;
	font-size: 1.2em;
}

body>footer {
	background: #eee;
	padding: 5px;
	margin: 10px 0;
	text-align: center;
}

#logged-in-info {
	float: right;
	margin-top: 18px;
}

#logged-in-info form {
	display: inline-block;
	margin-right: 10px;
}

#content>aside {
  float: right;
  width: 250px;
  background: #CCC;
  padding: 15px;
  margin-left: 20px;
  margin-top: 15px;
}

#content>aside h4 {
  margin: 5px 0px 15px 0px;
}

#content>aside a {
  display: block;
  margin: 10px 0px;
  text-decoration: none;
  color: #dfdddb;
}

#content>main:after {
  content: '';
  display: block;
  clear: both;
}

#content>ul#messages li {
	display: block;
	width: 80%;
	margin: 5px auto;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
}

#content>ul#messages li.info {
	background: #7f7;
}

#content>ul#messages li.error {
	background: #d00;
	color: white;
}

.formError {
    color: red;
    font-style: italic;
}

#Logout {
	background-color: #464442;
	margin: 5px;
}

#posts {
	margin-top: 50px;
}

#footer {
	bottom: 0;
	padding: 10px;
	margin-bottom: 0px;
}

hr {
	color: 1px dashed #3f51b5;
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.pagination li.active {
    background-color: #3f51b5;
}

#shadowed {
	background-color: #eee;
	margin: 0px 20px 15px 20px;
	padding: 3px 30px;
}

#Delete {
	background-color: #F44336;
}

	
	input[type=text], input[type=password]  {
		border-bottom: 1px solid #3f51b5;
	}
	
/* label color */
   .input-field label {
     color: #3f51b5;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #3f51b5;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #3f51b5;
     box-shadow: 0 1px 0 0 #3f51b5;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #3f51b5;
     box-shadow: 0 1px 0 0 #3f51b5;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #3f51b5;
     box-shadow: 0 1px 0 0 #3f51b5;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #3f51b5;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #3f51b5;
     box-shadow: 0 1px 0 0 #3f51b5;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid #3f51b5;
     box-shadow: 0 1px 0 0 #3f51b5;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid #3f51b5;
     box-shadow: 0 1px 0 0 #3f51b5;
   }
   
   .input-field textarea:focus + label {
	  color: #3f51b5 !important;
	}
	
	.input-field textarea:focus {
	  border-bottom: 1px solid #3f51b5 !important;
	  box-shadow: 0 1px 0 0 #3f51b5 !important
	}
	
	.input-field textarea {
	  border-bottom: 1px solid #3f51b5;
	}
   
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #3f51b5;
   }
   
.title-link {
	color: rgba(0, 0, 0, 0.87);
}