<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<head layout:fragment="site-head">
    <title th:text="${post.title}">View Post</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>

<nav layout:fragment="site-nav"></nav>

 <main id="content" layout:fragment="content" class="valign-wrapper">
 	<div class="container">
	<section>
	  <article>
	  
	  	<h2 th:text="#{posts.create.create_post}">Create Post</h2>
	  
	    <form action="#" id="postform" th:action="@{/posts/create}" th:object="${post}" method="post">
	    	
	    		<input type="hidden" th:field="*{id}" />
	    	
	    	<div style="margin-bottom: 25px" class="input-field">
	    		<i class="material-icons prefix">title</i>
		  		<input id="title" type="text" th:field="*{title}" class="validate"/>
		  		<label for="title" th:text="#{posts.create.title}">Title</label>
		  	</div>
		  		
		  	<div style="margin-bottom: 25px" class="input-field">
		  		<i class="material-icons prefix">textsms</i>
		  		<textarea id="content" form="postform" th:field="*{body}" class="materialize-textarea"/>
		  		<label for="content" th:text="#{posts.create.content}">Content</label>
		  	</div>
		  		
		  	<div style="margin-top: 10px" class="form-group">	
		  		<div class="col-sm-6 controls">
		  			<button type="submit" class="btn btn-success indigo" th:text="#{posts.create.create}">Create</button>
		  		</div>
		  	</div>
		  	
		</form>
	  </article>
	</section>
	</div>
</main>

<footer layout:fragment="site-footer"></footer>

</body>

</html>