<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<head layout:fragment="site-head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<nav layout:fragment="site-nav"></nav>

 <main id="content" layout:fragment="content">
 	<div class="container">
	<section>
	  <article>
	  
	  	<h2 style="padding-top: 10px;" th:text="#{posts.delete.delete_post}">Delete Post</h2>

	    <div style="padding-top: 15px;">
		    <h4 th:text="#{posts.delete.confirmation(${post.id})}" class="red white-text" style="padding: 5px;"></h4>
		    
		    <div id="shadowed">
			    <h4 class="title" th:text="${post.title}">Post Title</h4>
			    <div class="date">
			    <i th:text="#{index.posted_on}">Posted on</i>
			    <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
			        <span th:if="${post.author}" th:remove="tag">
			        <i th:text="#{index.by}">by</i>
			        <span th:text="${post.author.fullName != null ?
			                         post.author.fullName : post.author.username}">Svetlin Nakov</span>
			        </span>
			    </div>
			    <p class="content" th:utext="${post.body}">Post content</p>
		    </div>
		    
		    <div class="center-align">
			    <form method="post" th:action="@{/posts/delete/} + ${post.id}">
			    	<button id="Delete" type="submit" class="waves-effect waves-light btn red" th:text="#{posts.delete.delete}">Delete</button>
			    </form>
		    </div>
	    </div>
	    
	  </article>
	</section>
	</div>
</main>

<footer layout:fragment="site-footer"></footer>

</body>

</html>