<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<head layout:fragment="site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<nav layout:fragment="site-nav"></nav>


<main id="content" layout:fragment="content">
<div class="container">
	<section id="posts">
	  <article>
	    <h2 class="title" th:text="${post.title}">Post Title</h2>
	    <div class="date">
	    <i>Posted on</i>
	    <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
	        <span th:if="${post.author}" th:remove="tag">
	        <i>by</i>
	        <span th:text="${post.author.fullName != null ?
	                         post.author.fullName : post.author.username}">Svetlin Nakov</span>
	        </span>
	    </div>
	    <p class="content" th:utext="${post.body}">Post content</p>
	  </article>
	</section>
</div>
</main>

<footer layout:fragment="site-footer"></footer>

</body>

</html>