<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<head lang="pl" layout:fragment="site-head">
    <title>Spring MVC Blog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>

<nav layout:fragment="site-nav"></nav>

<main layout:fragment="content">
<div id="content" class="section no-pad-bot" >
	<aside class="indigo white-text">
		<h4 th:text="#{index.recent_posts}"></h4>
		<a href="#" th:each="p : ${latest5posts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}"></a>
	</aside>
	
	<div class="container">
	
	<section id="posts">
	    
	    <article th:each="p : ${page.getContent()}">
	      <a th:href='@{/posts/view/{id}/(id=${p.id})}' class="title-link">
	      	<h2 class="title" th:text="${p.title}">Post Title</h2>
	      </a>
	      <div class="date">
	        <i th:text="#{index.posted_on}">Posted on</i>
	        <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
	        <span th:if="${p.author}" th:remove="tag">
	          <i th:text="#{index.by}">by</i>
	          <span th:text="${p.author.fullName != null ?
	                        p.author.fullName : p.author.username}">Svetlin Nakov</span>
	        </span>
	      </div>
	      <p class="content flow-text" th:utext="${p.body}">Post content</p>
	      <hr/>
	    </article>
	    
		    <ul class="pagination indigo">
			      <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
			        <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page.page=${page.number-1},page.size=${page.size})}' title='Go to previous page'>
			        	<i class="material-icons">chevron_left</i>
			        </a>
			      </li>
			      <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : 'waves-effect'">
			        <span th:if='${item.current}' th:text='${item.number}'>1</span>
			        <a th:if='${not item.current}' th:href='@{${page.url}(page.page=${item.number},page.size=${page.size})}'><span th:text='${item.number}'>1</span></a>
			      </li>
			      <li th:class="${page.hasNextPage}? '' : 'disabled'">
			        <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page.page=${page.number+1},page.size=${page.size})}' title='Go to next page'>
			        	<i class="material-icons">chevron_right</i>
			        </a>
			      </li>
		    </ul>
	</section>
	
	</div>
</div>
</main>

<footer layout:fragment="site-footer"></footer>
</body>

</html>